*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

h1{
    color: blue;
    padding: 2rem 5rem;
    border: 2px solid red;
}

@mixin place(){
 width: 100%;
    height: 100%;
}

main{
    @include place();
    background-color: aqua;
    padding: 20rem;

    section{
        width: 30vw;
        height: 30vh;
        background-color: bisque;
        padding: 2rem;
    }
}

@mixin button-style($bg-color){
    
    padding: 4px 6px;
    color: rgb(255, 255, 255);
    background-color: $bg-color;
}

.btn1{
    @include button-style(red);
}

.btn2{
    @include button-style(blue);
}