* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 0.5fr 0.5fr;
  grid-template-areas:
    "header header header"
    "section section section"
    "div-left bottom-up div-right "
    "div-left bottom-down div-right ";
  grid-gap: 10px;
  padding: 10px;
}
header {
  grid-area: header;
  background-image: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-weight: 900;
  padding: 0.4rem;
  border-radius: 0.8rem;
}
section {
  grid-area: section;
  background-image: url("https://images.unsplash.com/photo-1732624696173-d3301dd410bf?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-weight: 900;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

#div-left {
  grid-area: div-left;
  background-image: url("https://images.unsplash.com/photo-1732624698189-977f236c0edb?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-weight: 900;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

#bottom-up {
  grid-area: bottom-up;
  background-image: url("https://images.unsplash.com/photo-1732624696015-ac956afe3e4b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-weight: 900;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

#bottom-down {
  grid-area: bottom-down;
  background-image: url("https://images.unsplash.com/photo-1596704135285-689f255de50b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-weight: 900;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

#div-right {
  grid-area: div-right;
  background-image: url("https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-weight: 900;
  padding: 0.4rem;
  border-radius: 0.8rem;
}
