* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: railway;
  src: url("./fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: railwayItalic;
  src: url("./fonts/Raleway-Italic-VariableFont_wght.ttf");
}

html,
body {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 5rem;
}

.nav #links ul {
  display: flex;
  flex-direction: row;
}

.nav #links ul li {
  margin: 2px 10px;
  list-style: none;
  font-family: railway;
}
.nav #links ul li a {
  text-decoration: none;
  color: black;
}

#container .title {
  margin-top: 12rem;
  width: 100%;
  font-size: 10vw;
  text-align: center;
  letter-spacing: 0.5vw;
  font-family: railway;
  font-weight: bolder;
  background-image: url("https://images.unsplash.com/photo-1670434846312-dfaf2662d337?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2128");
  background-clip: text;
  color: transparent;
}

#details {
  display: flex;
  flex-direction: row;
  margin: 5rem;
  height: auto;
}

#details #cnt2 img {
  display: flex;
  flex-direction: row;

  width: 30vh;
  height: auto;
  position: relative;
}

#details #cnt2 .img {
  margin-left: 3vh;
}

#details #cnt2 img:nth-child(1) {
  position: absolute;
  top: 70%;
}

#details #cnt2 img:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 100%;
}
#details #cnt2 img:nth-child(3) {
  position: absolute;
  left: 65%;
  top: 65%;
}

#details #cnt1 #detail-main h2 {
  font-size: 1.8vw;
  font-weight: bolder;
  font-family: railway;
}

#details #cnt1 #detail-main p {
  width: 50%;
  color: rgb(55, 55, 55);
  margin-top: 1rem;
}

#details #cnt1 #material-main {
  margin-top: 4rem;
}

#details #cnt1 #material-main h1 {
  font-size: 1.8vw;
  font-weight: bolder;
  font-family: railway;
}

#details #cnt1 #material-main h3 {
  width: 50%;
  color: rgb(55, 55, 55);
  margin-top: 1rem;
}

#details #cnt1 #material-main span {
  font-family: railwayItalic;
}

#New {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem;
  margin-top: 15rem;
  font-weight: 200;
}

#New .collection-shop {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

#New .collection-shop h1 a {
  text-decoration: underline;
  margin-right: 1rem;
  font-family: railway;
  color: black;
}

#New .collection-shop i {
  text-align: center;
}
